$primary-color: #2E3849;
$secondary-color: #728197;

$success-color: #DBFFE6;
$danger-color: #FFEBEB;
$warning-color: #FFFDCC;

$heading-text-color: #003A59;
$danger-text-color: #752B2B;
$warning-text-color: #754311;
$success-text-color: #23553E;

$cta-button-color: #00598D;
$danger-button-color: #E63F3F;

$background-color: #F4FAFF;